.homePage {
    font-size: 60px;
    font-style: italic;
    font-family: sans-serif;
}

.stm {
    font-size: 40px;
}

.dropdown {
    margin-top: 25px;
}

.btn {
    margin-top: 10px;
    width: 27%;
}